 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: Arial, sans-serif;
     background: #f2f2f2;
     padding: 10rem;
 }

 .container {
     max-width: 40rem;
     margin: auto;
     background: #5d31ae;
     padding: 20px;
     border-radius: 5px;
 }

 h2 {
     text-align: center;
     margin-bottom: 2rem;
 }

 form {
     display: flex;
     gap: 1rem;
 }

 input {
     flex: 1;
     padding: 0.5rem;
 }

 button {
     padding: 0.5rem 1rem;
     cursor: pointer;
 }

 .error {
     color: rgb(255, 213, 0);
     margin-top: 1rem;
 }

 ul {
     list-style: none;
     padding: 0;
     margin-top: 1rem;
 }

 li {
     background: #eee;
     padding: 1rem;
     margin-bottom: 0.5rem;
     display: flex;
     justify-content: space-between;
     border-radius: 0.5rem;
 }

 .delete {
     background: rgb(255, 221, 0);
     color: white;
     border: none;
     cursor: pointer;
     padding: 0.5rem 0.5rem;
 }

 .edit {
     margin-left: 1rem;
     background-color: #28a745;
     color: white;
     border: none;
     padding: 0.5rem 1rem;
     cursor: pointer;
 }

 .actions {
     display: flex;
     gap: 1rem;
     margin-top: 0.5rem;
 }